html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px
}

#panel {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -180px;
  z-index: 5;
  background-color: #fff;
  opacity: 0.8;
  padding: 5px;
  border: 1px solid #999;
}

#timeslider {
  position: absolute;
  bottom: 30px;
  right: 10%;
  margin-right: -20px;
  z-index: 5;
  background-color: #fff;
  opacity: 0.8;
  /*padding: 5px;*/
  border: 1px solid #999;
  /*height: 10px;*/
}

/*#timeslider .ui-slider-horizontal {
    height: 8px;
    width: 200px;
}
#timeslider .ui-slider .ui-slider-handle {
    height: 15px;
    width: 5px;
}*/