html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px
}

#panel {
  position: absolute;
  top: 5px;
  left: 40%;
  margin-left: -180px;
  z-index: 5;
  background-color: #fff;
  opacity: 0.9;
  padding: 5px;
  border: 1px solid #999;
}

.radio_btn input{
  height: 10px;
}

.radio_btn .ui-state-active { background: #729fcf; }
.radio_btn .ui-state-default {color: #555555;}

#timeslider {
  position: absolute;
  bottom: 30px;
  right: 10%;
  margin-right: -20px;
  z-index: 5;
  background-color: #fff;
  opacity: 0.9;
  /*padding: 5px;*/
  border: 1px solid #999;
  height: 10px;
}

.ui-slider-horizontal {
    height: 10px;
    width: 200px;
}
.ui-slider .ui-slider-handle {
    height: 1em;
    width: 1em;
    border-color: #729fcf; 
}

.ui-slider-range { background: #729fcf; }
